<div class=" p-0" style="margin-bottom: 90px; height: 93vh;">
    <div id="header-carousel" class="carousel slide" data-ride="carousel" style="height: 93vh;">
        <div class="carousel-inner" style="height: 93vh;">
            <div class=" active" style="height: 93vh;">
                <img style="height: 93vh;" class="w-100" src="https://demo.htmlcodex.com/1585/car-rental-html-template/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h1 class="text-white text-uppercase mb-md-3">Share A Ride</h1>
                        <h4 class="display-1 text-white mb-md-4">Give and Take ride, anytime, anywhere</h4>
                        <a *ngIf="!isLoggedIn" routerLink="/new-application" class="btn btn-primary py-md-3 px-md-5 mt-2">Sign Up</a>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a> -->
    </div>
</div>
